<div class="row mt-5">
  <div class="col-xs-6 col-sm-6 col-md-6">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formularioReparto" (ngSubmit)="computarReparto(formularioReparto.value)">
          <h3 class="h3 mb-3 font-weight-normal text-center">Parametros</h3>

          <div class="form-group">
            <label for="tipoMetodo">Tipo de metodo</label>
            <select class="form-control" id="tipoMetodo" (change)="getListaMetodos($event.target.value)">
              <option disabled selected>Selecciona un tipo de metodo</option>
              <option [value]="'divisor'">Divisor</option>
              <option [value]="'quota'">Quota</option>
            </select>
          </div>

          <div class="form-group">
            <label for="metodo">Metodo</label>
            <select class="form-control" id="metodo" formControlName="metodo">
              <option disabled selected>Selecciona un metodo</option>
              <option *ngFor="let metodo of listaMetodos" [value]="metodo">
                <span>{{metodo}}</span>
              </option>
            </select>
          </div>

          <div class="form-group">
            <label for="esc">Numero de escaños</label>
            <input class="form-control" type="number" id="esc" formControlName="esc" placeholder="Escaños" required>
          </div>

          <button *ngIf="mapPartidosVotos != null" type="submit" class="btn btn-lg btn-primary btn-block">Calcular
            Reparto</button>
        </form>
      </div>
    </div>

  </div>
  <!-- Tabla de votaciones -->
  <div class="col-xs-6 col-sm-6 col-md-6">
    <h3 class="h3 mb-3 font-weight-normal text-center">Votaciones guardadas</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre Votacion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let votacion of votaciones" (click)="getPartidosVotos(votacion)">
          <th scope="row">{{votacion.idVotacion}}</th>
          <td>{{votacion.nombreVotacion}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal"
      data-target="#votacionModal">Añadir votacion</button>
  </div>
</div>
<div class="row mt-5">
  <!-- Tabla de partidos, votos y escaños -->
  <div class="col-xs-6 col-sm-6 col-md-6" *ngIf="nombreVotacion">
    <h3 class="h3 mb-3 font-weight-normal text-center">Votacion {{nombreVotacion}}</h3>
    <ng-container *ngIf="mapPartidosVotos; else elseTemplate">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Partidos</th>
            <th scope="col">Votos</th>
            <th scope="col" *ngIf="mapPartidosEsc">Escaños</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partido of mapPartidosVotos | keyvalue">
            <th scope="row">{{partido.key}}</th>
            <td>{{partido.value}}</td>
            <td *ngIf="mapPartidosEsc">{{mapPartidosEsc[partido.key]}}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="alert alert-warning"><strong>Ojo!</strong> Esta tabla no tiene partidos y votos</div>
    </ng-template>
    <button type="button" class="btn btn-primary float-right mb-3" data-toggle="modal"
      data-target="#partidosVotosModal">Añadir partidos y votos</button>
  </div>
  <!-- Grafica -->
  <div class="col-xs-6 col-sm-6 col-md-6" *ngIf="doughnutChartData.length > 0">
    <h3 class="h3 mb-3 font-weight-normal text-center">Votacion {{nombreVotacion}}</h3>
    <div style="display: block">
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
      </canvas>
    </div>
  </div>
</div>

<app-modal></app-modal>
<app-modal2></app-modal2>
