<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">TFG</h1>
    <h4 class="h3">ESTUDIO Y DESARROLLO DE UN PROTOTIPO DE APLICACIÓN WEB PARA EL ANÁLISIS DE RESULTADOS EN
      PROCESOS ELECTORALES</h4>
    <p>Con esta herramienta podrá realizar el reparto de escaños en una votación, pudiendo utilizar diferentes métodos
      de entre las dos grandes familias de métodos de reparto, además si se registra podrá guardar sus votaciones para
      usos futuros.</p>
  </div>
</div>
