<section id="votacion">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h4>{{votacion.nombreVotacion}}</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Partido</th>
              <th scope="col">Votos</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor="let partido of votacion.mapPartidosVotos">
              <th scope="row">{{partido.name}}</th>
              <td>{{partido}}</td>
            </tr> -->
          </tbody>
        </table>
        <a href="" class="btn btn-block btn-primary">Añadir</a>
      </div>
    </div>
  </div>
</section>
