<section id="perfil" class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <div class="card">
        <h3 class="h3 mb-3 font-weight-normal text-center">Usuario</h3>
        <div class="row user-details">
          <div class="col-12">
            <img src="../../../../assets/usuario.png" class="rounded-circle img-thumbnail" style="width:50%"
              alt="perfil">
            <h5>{{usuario.nombre}}</h5>
            <p>{{usuario.clave}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h3 class="h3 mb-3 font-weight-normal text-center">Votaciones guardadas</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre Votacion</th>
            <th scope="col" colspan="2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let votacion of votaciones">
            <th scope="row">{{votacion.idVotacion}}</th>
            <td>{{votacion.nombreVotacion}}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">
                Modificar
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm"
                (click)="onBorrarVotacion(votacion.idVotacion)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-primary float-right mb-3" routerLink="/usuario">Volver</button>
</section>
